.add-note-card {
    max-width: 150px;
          min-height: 200px;
          min-width: 200px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: aquamarine;
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
    }
    