<h1> Add note!</h1>

<div class="add-note-form">
    <mat-form-field>
        <input matInput name="inputNote" [(ngModel)]="noteTitle" />
    </mat-form-field>

    <mat-form-field>
        <textarea matInput name="inputDescription" [(ngModel)]="noteDescription"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Select this note's category</mat-label>
        <mat-select [(ngModel)]="selectedNoteCategory">
            <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button (click)="addNote()">Add</button>
    <p> you selected : {{selectedNoteCategory}}</p>

</div>